<nav class="navbar bg-drk page-top">
  <div class="navbar-div">
    <h1>TicketDB</h1>
    <ul>
      <li>
        <a href=''>Tickets</a>
      </li>
      <li>
        <a href=''>Drivers</a>
      </li>
      <li>
        <a href=''>About</a>
      </li>
    </ul>
    <form class="form-search" action="/search" method="get">
    <input type="text" name="q" id="q" class="form-input input-user" placeholder="Search">
    <select name="category" id="category" class="form-input form-select">
    <option>Ticket</option>
    <option>Driver</option>
    </select>
    <input type="submit" name="commit" value="Search" class="btn btn-search" data-disable-with="Search">
    </form>
  </div>
</nav>
<div class="container">
  <h1>Driver Name</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Violation</th>
        <th>Fees
        <th>Street</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href=""></a></td>
        <td>Violation</td>
        <td>Fees</td>
        <td>Street</td>
        <td>Date</td>
      </tr>
    </tbody>
  </table>
</div>
